name: Deploy Frontend

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy Frontend
        run: |
          cd /home/lukas/srv
          sudo ./deploy_frontend.sh
